html, body {
  padding: 0;
  margin: 0;
}

.card {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  word-break: break-all;
}

.error-label {
  padding: 10px;
  border: 1px dashed #ccc;
  border-radius: 3px;
  text-align: center;
  color: #777;
}

@import "../src/app/templates/home/home.scss";
@import "../src/app/_/directives/msg-box/msg-box.scss";
